<a href="https://colab.research.google.com/github/PAULREGA/test_/blob/master/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [29]:
data = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
test_ids = test['PassengerId']

In [32]:
def clean(data):
    data = data.drop(['Ticket', 'PassengerId', 'Name', 'Cabin' ], axis=1)

    cols = ['SibSp', 'Parch', 'Fare', 'Age']
    for col in cols:
      data[col].fillna(data[col].median(), inplace=True)
    data.Embarked.fillna('U', inplace=True)
    return data

data = clean(data)
test = clean(test)

In [33]:
data.head(3)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S

In [36]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
le = preprocessing.LabelEncoder()
columns = ['Sex', 'Embarked']

for col in columns:
    data[col] = le.fit_transform(data[col])
    test[col] = le.transform(test[col]) 
    print(le.classes_)

data.head()

['female' 'male']
['C' 'Q' 'S' 'U']

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [37]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

y = data['Survived']
X = data.drop('Survived', axis=1)
X_train, X_val, y_train, y_val = train_test_split(X,y, test_size = 0.2, random_state = 42)

In [39]:
clf =  RandomForestClassifier(max_depth=2, random_state=50).fit(X_train, y_train)

In [40]:
predictions = clf.predict(X_val)
from sklearn.metrics import accuracy_score
accuracy_score(y_val, predictions)

0.7821229050279329

In [41]:
submission_preds = clf.predict(test)

In [42]:
df= pd.DataFrame({'PassengerId': test_ids.values,
                  'Survived': submission_preds,
                  })

In [43]:
df.to_csv('submission.csv',index=False)